/*Font from intern file*/
@import url(../../fonts/Roboto/Roboto-Regular.ttf);

/*Root variables - color*/
:root{
    --primary-color: #FFFFFF;
    --secondary-color: #1F1F1F;
    --focus-color: #822727;
    --line-color: #969595;
    --card-subtitle-color: #9C9A9A;
    --description-gray: #636363;
    --green: #2C823B;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    width: 100%;
}
footer{
    position: sticky;
    margin-top: 2rem;
}
main{
    width: 100%;
    margin-top: 2rem;
    padding:0 2rem;
    margin-top: 6rem;
}
.top{
    border-bottom: 2px solid #1F1F1F;
}
.top h2{
    color: #822727;
    font-weight:600 ;
}
.order_detail{
    display: flex;
    width: 100%;
    margin-top: 2rem;
}
.detail_left{
    width: 70%;
}
.detail_right{
    width: 30%;
}
.header_detail{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.header_detail p{
    color:#822727 ;
    font-weight: 600;font-size: 14pt;
}
.detail_product{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.product{
    display: flex;

}
.product-title{
    display: flex;
    flex-direction: column;
    width:250px;
    margin-left: 2rem;
    margin-right: 6rem;
}
.product-title p{
    margin: 0;
    padding: 0;
}
.product-title .title{
    font-weight: 600;
    font-size: 14pt;
}
.detail_img{
    height: 100px;
}
.quantity_product{
    width: 100%;
    display: flex;
}
.quantity_product button{
    background-color: transparent;
    border: none;
    margin: 0 1.5rem;
    height: 40px;
    border-radius: 5px;
    padding: 0 0.5rem;
}
.quantity_product button:hover{
    border: 2px solid #1F1F1F;
}
.quantity_product p{
    margin-top: 5px;
}
.detail_right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-card{
    background-color: #1F1F1F;
    width: 75%;
    height: 100%;
    color: #FFFFFF;
    padding-top: 2rem;
    padding-left: 2rem;
}
.content-card h4{
    font-weight: 700;
}
.separate{
    display: flex;
}
.separate .right{
    margin-left: 2rem;
}
.title-card{
    color: #636363;
    font-size: 8;
    padding: 0;
    margin: 0;
}
.text-card{
    color: white;
    font-size: 12;
    font-weight: 600;
}
.button{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.content-card button{
    background-color: #FFFFFF;
    width: 150px;
    height: 50px;
    border-radius: 10px;
}
.credit-card{
    display: flex;
}
.credit-card .text-card{
    margin-top: 18px;
    margin-left: 10px;
}
.delete{
    background-color: transparent;
    color: #822727;
    border: 2px solid #822727;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 16pt;
    height: 30px;
    width: 45px;
}
.image_product{
    height: 50px;
    width: 50px;
}
.total{
    display: flex;
    justify-content: space-between;
}