/*Local font usage*/
@import url(../../fonts/Roboto/Roboto-Regular.ttf);

/*Roboto + style for all*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*Root variables (colors)*/
:root{
    --primary-color: #FFFFFF;
    --secondary-color: #1F1F1F;
    --focus-color: #822727;
    --light-red-color: #8B3A3A;
}

/*Navbar link active*/
.link-contact {
    position: relative;
}

.link-contact::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: #822727;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(1);
}

/*Margin between rows*/
.row{
    margin-top: 70px;
}

/*Main container*/
.main-cont{
    margin-top: 66px;
}

/*Titles style*/
.title{
    margin-top: 50px;
    font-weight: bold;
    color: var(--focus-color);
}

/*Style for the container of the form*/
.cont-form{
    padding: 50px;
    height: 65vh;
    background-color: var(--secondary-color);
}

/*Subtitles style*/
h4{
    font-weight: bold;
    margin-bottom: 50px;
}

/*Align subtitles*/
@media (max-width: 991px) {
    h4{
        text-align: center;
    }
}

/*Size of the message imput*/
.message-form{
    height: 15vh;
}

/*Align map*/
.map-col{
    padding: 0;
}

/*Map size*/
iframe{
    height: 65vh;
    width: 100%;
}

/*Button for submit style*/
.btn-submit{
    margin-top: 50px;
    float: right;
    background-color: var(--focus-color);
    border: none;
}

.btn-submit:hover{
    background-color: var(--light-red-color);
}

.btn-submit:active{
    background-color: var(--light-red-color) !important;
}

/*Size of the button image*/

.img-submit{
    height: 30px;
}

/*Responsive map*/
@media (max-width: 991px) {
    .map-col{
        margin-top: 50px;
    }
}

@media (max-height: 1250px){
    .cont-form{
        height: 75vh;
    }

    iframe{
        height: 75vh;
    }
}