*{
    font-family: 'Roboto', sans-serif;
}

/*Root vars*/
:root {
    --color-focus: #822727;
    --color-light-red: #8B3A3A;
    --color-dark-grey: #1F1F1F;
    --color-grey: #707070;
}

/*Home page*/
/*Navbar menu button*/
nav .navbar-toggler-icon {
    background-image: url('../../images/navbar_menu.svg') !important;
}

/*Navbar - Logo size*/
.logo-navbar {
    height: 40px;
}

.navbar-toggler {
    border: 2px solid white;
}

/*Navbar- Login button size*/
.img-btn-login {
    width: 30px;
    height: 25px;
}

@media (max-width: 991px) {
    .nav-item {
        margin-bottom: 5px;
    }
}

/*Navbar - Underline links*/
.nav-link {
    position: relative;
}

.nav-link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--color-focus);
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.nav-link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/*Main - Background image URL*/
.banner-image-index {
    background-image: url("../../images/blurry_inicio.svg");
}

/*Main - Text color*/
.subtitle {
    color: var(--color-grey);
}

/*Main - Car image size*/
.img-car-home {
    width: 90%;
    margin-top: 70px;
}

/*Align paragraph*/
.p-top {
    margin-top: 50px;
}

/*Change the color of the titles*/
.home-title {
    color: var(--color-focus);
    margin-top: 5%;
}

/*Change the color of the buttons*/
.btn-red {
    background-color: var(--color-focus);
    color: white !important;
    border: none !important;
    margin-left: 40% !important;
}

.btn-red:hover {
    background-color: var(--color-light-red);
}

/*Size of the cars images*/
.img-seeproducts {
    width: 50%;
}

/*Change the navbar color*/
.navbar2 {
    background-color: black !important;
}

/*Change the button color*/
.btn-seeproducts {
    background-color: var(--color-focus);
    color: white !important;
    border: none !important;
}

.btn-seeproducts:hover {
    background-color: var(--color-light-red);
}

/*Style for the brands logos*/
.brandimg {
    margin-top: 3rem;
}

.brandimg .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}

.brandimg img {
    opacity: 40%;
    height: 125px;
    width: 210px;
}

.brandimg img:hover {
    transition-duration: 0.7s;
    opacity: 100%;
}

/*Responsive carousel*/
.card .img-wrapper {
    max-width: 100%;
    height: 17em;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.card img {
    max-height: 100%;
}

@media (min-width: 768px) {
    .carousel-inner {
        display: flex;
    }

    .carousel-item {
        margin-right: 0;
        flex: 0 0 calc(100%/3);
        display: block;
    }

    .img-wrapper {
        height: 23vh;
    }
}

.carousel-inner {
    margin-top: 70px;
    padding: 1em;
}

.card {
    margin: 0 .5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
}

.carousel-control-prev,
.carousel-control-next {
    background-color: var(--color-focus);
    width: 6vh;
    height: 6vh;
    border-radius: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/*Cards design*/

.carousel-inner .card-title {
    color: var(--color-focus);
}

.carousel-inner .btn {
    border: none;
    background-color: var(--color-focus);
}

.carousel-inner .btn:hover {
    background-color: var(--color-light-red);
}

/*Banner image for memberships*/
.banner-memberships {
    align-items: center;
    background-color: var(--color-dark-grey);
}

/*Title for the memberships*/
.home-title-dark {
    margin-top: 70px;
    color: var(--color-grey);
}

/*Style for the memberships images*/
.memberships-img .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5rem;
}

.memberships-img img {
    margin-top: 4em;
    height: 200px;
    width: 400px;
}

/*Style for the button in memberships section*/
.btn-membership {
    background-color: var(--color-focus);
    border: none;
    width: 250px;
    padding: 20px;
    font-weight: bold;
    justify-content: center;
    margin-bottom: 70px;
}

.btn-membership:hover {
    background-color: var(--color-light-red);
}

/*Style for the sponsors logo*/
.sponsors-img .row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 5rem;
}

.sponsors-img img {
    margin-top: 4em;
    height: 100px;
    width: 200px;
}

/*Style for the help button*/
.container-buttons {
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.btn-support {
    margin-bottom: 10px;
    margin-right: 10px;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: var(--color-focus);
}

.btn-support:hover {
    background-color: var(--color-light-red);
}

.btn-support img {
    height: 35px;
    width: 35px;
}

/*Style for the footer*/
footer {
    background-color: var(--color-dark-grey);
}

footer .social-footer {
    text-align: center;
    margin-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
}

footer a {
    align-items: center;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

footer a:hover {
    color: white;
}

footer a img {
    height: 30px;
}

footer .logo-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer img {
    margin-right: 5px;
    height: 35%;
}

.information-footer a {
    margin: 5px;
}

/*Responsive footer*/

@media (min-width: 1000px) {
    footer .information-footer {
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: self-start;
    }
}

@media (max-width: 999px) {
    footer .information-footer {
        padding-bottom: 50px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/*Style for the modals*/
.modal-open {
    overflow: unset;
    width: 100%;
    padding-right: 0 !important;
}

.modal-top-bold {
    color: var(--color-focus);
    font-weight: bold;
}

.modal-bold {
    margin-top: 40px;
    color: var(--color-focus);
    font-weight: bold;
}