/*Local font usage*/
@import url(../../fonts/Roboto/Roboto-Regular.ttf);

/*Roboto + style for all*/
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/*Root variables (colors)*/
:root{
    --primary-color: #FFFFFF;
    --secondary-color: #1F1F1F;
    --focus-color: #822727;
    --light-red-color: #8B3A3A;
    --light-gray-color: #9C9A9A;
}

/*Main container*/
.main-cont{
    margin-top: 66px;
}

.title{
    margin-top: 50px;
    font-weight: bold;
    color: var(--focus-color);
}

.title-row{
    margin-top: 70px;
}

.card{
    padding-top: 100px;
    padding-bottom: 100px;
    width: 430px !important;
    background-color: var(--secondary-color);
    padding-left: 10px;
    padding-right: 10px;
}

.card-header{
    border-bottom: none;
    color: white;
    background-color: var(--secondary-color);
    font-size: 40px;
}

.memb-col{
    display: flex;
    align-items: center;
    justify-content: center;
}

.price{
    color: #9C9A9A;
    font-size:  80px;
    text-align: right;
}

.desp-price{
    text-align: left;
    padding-left: 0;
}

.text-price{
    color: #9C9A9A;
    margin-bottom: 0;
}

.features-row h5, .discounts-row h5{
    color: white;
    font-weight: bold;
}

.features-row p{
    color: var(--light-gray-color);
}

.discounts-row button{
    width: 100%;
    background-color: var(--focus-color);
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}