
body {
    width: 100%;
}
main{
    display: flex;
    flex-direction: column;
    height: 100%;
}
aside {
    width: 15%;
    background-color: #131313;
}
section {
    width: 80%;
}
.content{
    display: flex;
}
/*user information container*/
.contained .list-group{
    margin-top: 20px;
    margin-left: 10px;
    width: 90%;
    height: 50%;
}
/*imgs*/
.contained .list-group .list-group-item img{
    width: 200px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*titles*/
.contained .list-group .list-group-item .info h1{
    font-size: 20px;
    margin-left: 10px;
    color: var(--focus-color);
    font-weight: 700;
}
/*subtitles*/
.contained .list-group .list-group-item .info h5{
    font-size: 14px;
    margin-left: 10px;
    font-weight: 600;
    color: var(--subtitle-grey);
}
/*spacing and color*/
.contained .list-group .list-group-item{
    padding: 20px;
    width: 1200px;
    display: flex;
    background-color: var(--grey-background);
}
/*hover event*/
.options-container button:hover{
    background-color: var(--delete-red);
    transition: 0.2s;
    color: var(--primary-color);
}
/*buttons icon*/
.options-container button i{
    margin: 10px;
    font-size: 40px;
}
/*titles*/
.top-titles{
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    margin-left: 50px;
}
/*user information and actions buttons container*/
.top-titles h2{
    color: var(--focus-color);
    font-size: 28px;
}

.top-titles h4{
    color: var(--subtitle-grey);
    font-size: 20px;
}
/*buttons*/
.buttons{
    display: flex;
    margin-left: 50%;
    margin-top: -90px;
    padding: 20px;
}

.buttons button{
    display: flex;
    width: 100px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}

.buttons .status{
    border-radius: 20px;
    border: none;
    background-color: var(--primary-color);
}
/*active dot*/
.dot::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 20px;
    background-color: var(--focus-color);
    margin-top: -8px;
    margin-left: -2px;
}
/*buttons of action*/
.buttons .btn-refresh{
    border: none;
    margin-top: -2px;
    font-size: 20px;
    color: var(--primary-color);
    border-radius: 25px;
    height: 50px;
    width: 50px;
    background-color: var(--refresh-blue);
}

.buttons .btn-edit{
    border: none;
    margin-top: -2px;
    font-size: 20px;
    color: var(--primary-color);
    border-radius: 25px;
    height: 50px;
    width: 50px;
    background-color: var(--edit-yellow);
}

.buttons .btn-delete{
    border: none;
    margin-top: -2px;
    font-size: 20px;
    color: var(--primary-color);
    border-radius: 25px;
    height: 50px;
    width: 50px;
    background-color: var(--delete-red);
}