body{
    background-image:url(../../imagenes/Background.jpg) ;
    background-size: cover;
    width:100%;
}
.navbar{
    background-color: transparent;
}
.first{
    padding-bottom: 4.3rem;
}
.navbar .nav-item a{
    color: aliceblue;
}
.navbar .dropdown-menu a{
    color: black;
}
.navbar a {
    color: aliceblue;
}
.navbar .container-fluid img{
    width: 250px;
    height: 100px;
}
.navbar .container-fluid button{
    background-color: #822727;
}
.navbar .nav-item a:hover{
    border-bottom: 5px solid #822727;
    transition: all 0.2s ease;
}
.navbar .nav-item a:focus{
    border-bottom: 5px solid #822727;
    transition: all ease;
}
.navbar .container-fluid .collapse{
    margin-left: 22rem;
}
.navbar .buttonlogin {
    margin-right: 2rem;
}
.navbar .buttonlogin a{
    border-radius: 8px;
    text-decoration: none;
    padding: 10px 35px;
    background-color: #fff;
    font-weight: 700;
    color: #1f1f1f;
}
.navbar .buttonlogin img{
    height: 24px;
    width: 24px;
}
.contenido .explorar .texto{
    display: flex;
    flex-direction: column;
    margin-top: 14rem;
    margin-left: 5rem;
}
.contenido .explorar .texto h6{
    color: #707070;
    margin-bottom: 0;
}
.contenido .explorar .texto p{
    font-size: 38pt;
    font-weight: 600;
    color: #fff;
}
.contenido .explorar{
        width: 35%;
}
.contenido .explorar .btnexplorar{
    margin-left: 17rem;
}
.contenido .explorar .btnexplorar button{
    height: 45px;
    width: 150px;
    border-radius: 10px;
    background-color: #822727;
    color: #fff;
    font-weight: 600;
}
.contenido{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.contenido .imagencarro{
    width: 55%;
    margin-top: 8rem;
    margin-left: 10rem;
}
.contenido .imagencarro img{
    height: 400px;
    width: 650px;
}
.second{
    padding: 4rem;
    background-color: #fff;
    height: 350vh;
}
.second h1{
    text-align: center;
    color: #822727;
    margin-bottom: 4rem;
}
body::-webkit-scrollbar{
    width: 10px;    
}
/*Funciona para modificar el color del scrollbar*/
body::-webkit-scrollbar-thumb{
    background-color: #822727;
    border-radius: 5px;
}
/*Funciona para modificar el fondo del scrollbar*/
body::-webkit-scrollbar-track-piece{
    background-color: #1f1f1f;
}
.second .completedata{
    padding-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.second .completedata .data{
    width:30%;
    margin-left: 4rem;
}
.second .completedata .data p{
    font-weight: 500;
    color: #707070;
    font-size: 16pt;
    margin-bottom: 3rem;
}
.second .completedata .data button{
    background-color: #822727;
    border: none;
    height: 40px;
    border-radius: 8px;
    font-weight: 600;
    width: 150px;
    color: #fff;
}
.second .completedata .images img{
    height: 250px;
    width: 375px;
}
.second .brandimg{
    margin-top: 7.5rem;
}
.second .brandimg .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 2rem;
}
.second .brandimg img{
    height: 100px;
    width: 175px;
}
.second .featured{
    margin-top: 6rem;
}