<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--This css file is to make styles to login-->
    <link rel="stylesheet" href="../../resources/css/admin/login.css" />
    <!--It is a icon with title page-->
    <link rel="icon" href="../../resources/images/logos/logo_login.png" />
    <!--This link is to used bootstrap and some components-->
    <link rel="stylesheet" href="../../resources/css/bootstrap.min.css" />
    <title>Autorect | Login</title>
</head>

<body>
    <!--This class contained all class in the page-->
    <main class="contenedor">
        <!--This class is to section the formulary-->
        <div class="formlogin" id="contained-login">
            <div class="logo">
                <img src="../../resources/images/logo_login.png" alt="" />
            </div>
            <div class="text">
                <h5>WELCOME TO <span>AUTORECT</span></h5>
                <p>Let's login to your account <span>.</span></p>
            </div>
            <div class="textlogin">
                <form id="form_login" method="post" class="formlogin">
                    <div class="input-data">
                        <input type="text" name="username" required />
                        <div class="underline"></div>
                        <label>Username</label>
                    </div>
                    <div class="input-data" id="pass">
                        <input type="password" name="clave" required />
                        <div class="underline"></div>
                        <label>Password</label>
                    </div>
                    <!--This is the end section at the login-->
                    <div class="endlogin">
                        <div class="forget">
                            <a href="">Forgot password?</a>
                        </div>
                        <div class="buttons"> 
                            <button id="btnlogin" type="submit">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!--This section is to sign up the first user in the private page-->
        <div class="signup" id="contained-signup">
            <div class="top_signup">
                <div class="logo">
                    <img src="../../resources/images/logo_login.png" alt="" />
                </div>
                <div class="text">
                    <h5>WELCOME TO <span>AUTORECT</span></h5>
                    <p>Creating the first user <span>.</span></p>
                </div>
                <form action="" class="first_user" id="sign_up">
                    <div class="image_user">
                        <div class="foto_user"></div>
                        <button id="pull_image">Pull photo</button>
                    </div>
                    <div class="datas_info">
                        <div class="input-data">
                            <input type="text" required />
                            <div class="underline"></div>
                            <label>Username</label>
                        </div>
                        <div class="input-data">
                            <input type="password" required />
                            <div class="underline"></div>
                            <label>Password</label>
                        </div>
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Lenguaje
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">ENGLISH</a></li>
                                <li><a class="dropdown-item" href="#">SPANISH LA</a></li>
                                <li><a class="dropdown-item" href="#">SPANISH ESP</a></li>
                            </ul>
                        </div>
                    </div>
                    <button id="save_first">Save</button>
                </form>
            </div>
    </main>
    <script src="../../resources/js/bootstrap.min.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/dashboard/account.js"></script>
    <script src="../../controllers/dashboard/index.js"></script>
</body>

</html>