<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../resources/css/admin/admin.css">
    <link rel="icon" href="../../resources/imagenes/Icon.jpeg">
    <link rel="stylesheet" href="../../resources/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <aside>
            <nav class="navbar">
                <div class="topnav">
                    <div class="img">
                        <img src="../../resources/imagenes/LogoLogin.png" alt="">
                    </div>                   
                    <div class="btn">
                        <button onclick="compactnav()"><i class='bx bx-chevron-right'></i></button>
                    </div>
                    <div class="btnback">
                        <button onclick="backnav()"><i class='bx bx-chevron-left'></i></button>
                    </div>
                </div>
                <div class="sidebar">
                    <div class="middlenav">
                        <a href=""><i class='bx bx-grid-alt'></i></a>
                        <a href=""><i class='bx bxs-user-circle'>Usuarios</i></a>
                        <a href=""><i class='bx bxs-group'></i></a>
                        <a href=""><i class='bx bxs-wallet' ></i></a>
                    </div>
                    <div class="logout">
                        <a href="" class="logout"> <i class='bx bxs-log-out'></i></a>
                    </div>
                    
                </div>
            </nav>
        </aside>
        <main>
            <section>

            </section>
        </main>
    </div>
    <script src="../../controller/account.js"></script>
</body>
</html>