<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../../resources/css/admin/admin.css">
    <link rel="icon" href="../../resources/imagenes/Icon.jpeg">
    <link rel="stylesheet" href="../../resources/css/boxicons.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <aside>
            <div class="navbar">
                <nav>
                    <div class="topnav">
                        <div class="img">
                            <img src="../../resources/imagenes/LogoLogin.png" alt="">
                        </div>                   
                        <div class="btn">
                            <button onclick=""><i class='bx bx-chevron-right'></i></button>
                        </div>
                        <div class="btnback">
                            <button onclick=""><i class='bx bx-chevron-left'></i></button>
                        </div>
                    </div>
                    <div class="sidebar">
                        <div class="middlenav">
                            <a><i class='bx bxs-grid-alt' ></i></a>
                            <a href=""><i class='bx bxs-user-circle'></i></a>
                            <a href=""><i class='bx bxs-group'></i></a>
                            <a href=""><i class='bx bxs-user-pin' ></i></a>
                            <a href=""><i class='bx bxs-cart-alt'></i></a>
                            <a href=""><i class='bx bx-spreadsheet'></i></a>
                            <a href=""><i class='bx bxs-box'></i></a>
                            <a href=""><i class='bx bxs-category-alt'></i></a>
                            <a href=""><i class='bx bxs-car'></i></a>
                            <a href=""><i class='bx bxs-car-garage'></i></a>
                        </div>
                        <div class="logout">
                            <a href="" class="logout"> <i class='bx bxs-log-out'></i></a>
                        </div>
                        
                    </div>
                </nav>
            </div>
        </aside>
        <div class="datasection">
            <section>
                <div class="topmain">
                    <div class="text">
                        <p>DASHBOARD</p>
                    </div>
                    <div class="btnmain">
                        <button class="btndashboard">Daily</button>
                        <button class="btndashboard">Weekly</button>
                        <button class="btndashboard">Monthly</button>
                        <button class="user"><i class='bx bxs-user-circle' ></i></button>
                    </div>
                </div>
                <div class="datainfo">
                    <div class="datas">
                        <P>STORE RATING</P>
                        <p class="number">4.5<span>/5</span></p>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star'></i>
                        <i class='bx bxs-star-half' ></i>
                    </div>
                    <div class="datas">
                        <P>TOTAL INCOME</P>
                        <p class="number">4,540.98 <span>USD</span></p>
                        <p class="green">+5% <i class='bx bxs-up-arrow'></i></p>
                    </div>
                    <div class="datas">
                        <P>TOTAL ORDERS</P>
                        <p class="number">4,120</p>
                        <p class="green">+3% <i class='bx bxs-up-arrow'></i></p>
                    </div>
                    <div class="datas">
                        <P>NEW CLIENTS</P>
                        <p class="number">516</p>
                        <p class="red">-2% <i class='bx bxs-down-arrow'></i></p>
                    </div>
                </div>
                <div class="bottommain">
                    <div class="grafics">
                        <div class="salesreport">
                            <h3>SALES REPORT</h3>
                        </div>
                        <div class="recentorder">
                            <H3>RECENT ORDERS</H3>
                        </div>
                    </div>
                    <div class="topbrands">
                        <P>TOP BRANDS</P>
                        <div class="marca">
                            <img src="../../resources/imagenes/Mazda.svg" alt="">
                        </div>
                        <div class="marca">
                            <img src="../../resources/imagenes/jeep.svg" alt="">
                        </div>
                        <div class="marca">
                            <img src="../../resources/imagenes/toyota.svg" alt="">
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="../../controller/account.js"></script>
</body>
</html>