<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../resources/css/admin/admin.css" />
    <link rel="stylesheet" href="../../resources/css/admin/menu.css" />
    <link rel="stylesheet" href="../../resources/htaccess.txt" />
    <link rel="icon" href="../../resources/images/LogoLogin.png" />
    <link rel="stylesheet" href="../../resources/css/boxicons.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="allinfo">
      <aside></aside>
      <main class="datasection">
        <section>
          <div class="topmain">
            <div class="text">
              <p>DASHBOARD</p>
            </div>
            <div class="btnmain">
              <button class="btndashboard">Daily</button>
              <button class="btndashboard">Weekly</button>
              <button class="btndashboard">Monthly</button>
              <button class="user"><i class="bx bxs-user-circle"></i> <i class='bx bx-slider'></i></button>
            </div>
          </div>
          <div class="datainfo">
            <div class="row">
              <div class="col">
                <p>STORE RATING</p>
                <p class="number">4.5<span>/5</span></p>
                <div class="stars">
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star"></i>
                  <i class="bx bxs-star-half"></i>
                </div>
              </div>
              <div class="col">
                <p>TOTAL INCOME</p>
                <p class="number">4,540.98 <span>USD</span></p>
                <p class="green">+5% <i class="bx bxs-up-arrow"></i></p>
              </div>
              <div class="col">
                <p>TOTAL ORDERS</p>
                <p class="number">4,120</p>
                <p class="green">+3% <i class="bx bxs-up-arrow"></i></p>
              </div>
              <div class="col">
                <p>NEW CLIENTS</p>
                <p class="number">516</p>
                <p class="red">-2% <i class="bx bxs-down-arrow"></i></p>
              </div>
            </div>
          </div>
          <div class="bottommain">
            <div class="grafics">
              <div class="salesreport">
                <h3>SALES REPORT</h3>
              </div>
              <div class="recentorder">
                <h3>RECENT ORDERS</h3>
              </div>
            </div>
            <div class="topbrands">
              <p>TOP BRANDS</p>
              <div class="marca">
                <img src="../../resources/images/Mazda.svg" alt="" />
              </div>
              <div class="marca">
                <img src="../../resources/images/Jeep2.svg" alt="" />
              </div>
              <div class="marca">
                <img src="../../resources/images/ToyotaD.svg" alt="" />
              </div>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"
  ></script>
    <script src="../../controller/admin/menu.js"></script>
    <script src="../../controller/components.js"></script>
  </body>
</html>
