<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!--This css file is to charger the navbar style-->
  <link rel="stylesheet" href="../../resources/css/admin/menu.css" />
  <!--In this css file are all styles to formularies-->
  <link rel="stylesheet" href="../../resources/css/admin/main.css" />
  <!--This is the bootstrap link to use the bootstrap  styles-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <!--This is the bootstrap link to use the bootstrap style-->
  <link rel="stylesheet" href="../../resources/css/boxicons.min.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Categories</title>
</head>

<body>
  <!--Charger the navbar-->
  <aside></aside>
  <!--In this class are contained all page-->
  <div class="allinfo">
    <!--In this class whit the main tag are contained everthing data to categories-->
    <main class="data">
      <section>
        <!--This button funtionated to responsive menu-->
        <button class="showmenu"><i class="bx bx-menu"></i></button>
        <!--This class is to structured the top section at the page-->
        <div class="topmain">
          <div class="texttop">
            <p>CATEGORIES</p>
          </div>
          <div class="buttonstop">
            <button name="btnexport">
              Export <i class="bx bx-export"></i>
            </button>
            <button>Print <i class="bx bxs-printer"></i></button>
            <!--This button is to open modal, to do a insert at the table-->
            <button type="button" id="redcategory" data-bs-toggle="modal" data-bs-target="#staticBackdrop"
              onclick="createCategory()">
              <i class="bx bxs-plus-circle"></i> New Category
            </button>

            <!-- Modal -->
            <div class="modal fade modal-xl" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
              tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <!--This class is to modify the header section at the modal-->
                  <div class="modal-header">
                    <p id="modal-title" id="exampleModalLabel"></p>
                    <!--This button is to close the modal-->
                    <button type="button" id="btnclose" data-bs-dismiss="modal" aria-label="Close">
                      <i class="bx bx-x"></i>
                    </button>
                  </div>
                  <!--In this class are add elements like inputs, buttons, etc-->
                  <div class="modal-body modal-Ct">
                    <form id="save-form" method="post" enctype="multipart/form-data">
                      <div class="Ctsection1">
                        <div class="row">
                          <div class="col">
                            <input type="text" class="hide" id="id" name="id">
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-6">
                            <div class="input-data">
                              <input type="text" name="category_name" id="name" required />
                              <div class="underline"></div>
                              <label>Category name</label>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-12" id="cdescription">
                            <div class="input-data">
                              <input type="text" name="category_description" id="description" required />
                              <div class="underline"></div>
                              <label>Category Description</label>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--This class is to add the image to categories and buttons-->
                      <div class="Ctsection2">
                        <div class="image"></div>
                        <div class="btns">
                          <button id="clean" type="reset">
                            <i class="bx bxs-eraser"></i>CLEAN
                          </button>
                          <button id="addcategory" type="submit">
                            <i class="bx bxs-plus-circle"></i>ADD CATEGORIES
                          </button>
                          <button id="update" type="submit">
                            <i class='bx bxs-bookmark-plus'></i>CONFIRM
                          </button>
                        </div>
                      </div>
                    </form>
                    <!--This class is to add inputs or selects-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--This section are all relationated with filters to looking for datas at the categories-->
        <div class="searchsection">
          <form class="search" id="form-search" method="post">
            <button type="submit" class="button-search"><i class="bx bx-search"></i></button>
            <input type="text" name="search" placeholder="Name Categories ..." />
            <i class="bx bx-slider"></i>
          </form>
          <div class="buttonsearch">
            <input type="date" class="btnfilter sm-disable" />
            <div class="dropdown btnfilter sm-disable">
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bx bxs-purchase-tag"></i>
                Status
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Another action</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </div>
            <div class="dropdown btnfilter sm-disable" id="btn-address">
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bx bx-current-location"></i>
                Address
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Another action</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </div>
            <div class="dropdown btnfilter sm-disable" id="btnSaveF">
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bx bxs-bookmark"></i>
                Save filters
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Another action</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </div>
            <div class="dropdown btnfilter sm-active">
              <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bx bx-slider rotate"></i>
                More
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li>
                  <a class="dropdown-item" href="#">Another action</a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--This section is to filter datas in the table, but datas with especifics parameters-->
        <div class="filtertable">
          <button class="active">All categories <span>11</span></button>
        </div>
        <!--This class is show all datas to categories, but in diferents sections-->
        <div class="datatable">
          <div class="infodatatable">
            <p>Showing 21-30 of 88 results</p>
          </div>
          <div class="numbersdata">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <!--This section is to show how many items show in the tabla-->
          <div class="itemstable">
            <p>Items per page <span>10</span></p>
          </div>
        </div>
        <!--In this section are contained the table to show users data-->
        <div class="sectiontable">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID No.</th>
                <th scope="col">Name categories</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>
            <tbody id="tbody-rows"></tbody>
          </table>
        </div>
      </section>
    </main>
  </div>
  <!--This script is to bootstrap funcionality-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="../../resources/js/sweetalert.min.js"></script>
  <script src="../../controller/components.js"></script>
  <!--This js script is to add navbar at aside tag-->
  <script src="../../controller/Admin/menu.js"></script>
  <!--This js script is to do funcionality some components of bootstrap-->
  <script src="../../controller/admin/category.js"></script>
</body>

</html>