<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../resources/css/admin/menu.css" />
    <link rel="icon" href="../../resources/imagenes/Icon.jpeg" />
    <link rel="stylesheet" href="../../resources/css/admin/clients.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../resources/css/boxicons.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Clients</title>
  </head>
  <body>
    <div class="allinfo">
      <aside></aside>
      <div class="container">
        <main class="dataclient">
          <section>
            <div class="topclient">
              <div class="text">
                <p>CLIENTS</p>
              </div>
              <div class="btntop">
                <button>Export <i class="bx bx-export"></i></button>
                <button>Print <i class="bx bxs-printer"></i></button>
                <button id="red">
                  <i class="bx bxs-plus-circle"></i> New Client
                </button>
              </div>
            </div>
            <div class="searchsection">
              <div class="search">
                <i class="bx bx-search"></i>
                <input type="text" placeholder="Search anything..." />
                <i class="bx bx-slider"></i>
              </div>
              <div class="buttonsearch">
                <input type="date" class="btnfilter" />
                <div class="dropdown btnfilter">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bx bxs-purchase-tag"></i>
                    Status
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown btnfilter">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bx bx-current-location"></i>
                    Address
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown btnfilter">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bx bxs-bookmark"></i>
                    Save filters
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown btnfilter">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bx bx-slider rotate"></i>
                    More
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="filtertable">
              <button class="active">All clients <span>11</span></button>
              <button>Member <span>05</span></button>
            </div>
            <div class="datatable">
              <div class="infodatatable">
                <p>Showing 21-30 of 88 results</p>
              </div>
              <div class="numbersdata">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="itemstable">
                <p>Items per page <span>10</span></p>
              </div>
            </div>
            <div class="sectiontable">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"><input type="checkbox" /></th>
                    <th scope="col">Name</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">User</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">DUI</th>
                    <th scope="col">Phone number</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td><p>Anderson Isaac</p></td>
                    <td><p>Aguilar Ramos</p></td>
                    <td><p>and3raplar</p></td>
                    <td><p>anderdeco25@gmail.com</p></td>
                    <td><p>37256162-0</p></td>
                    <td><p>7502-5241</p></td>
                    <td><p class="status-active">Active</p></td>
                    <td>
                      <div class="actions">
                        <button class="edit" onclick="btnedit()">
                          <i class="bx bxs-edit"></i>
                        </button>
                        <button class="delete" onclick="btndelete()">
                          <i class="bx bxs-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td><p>Daniel Eli</p></td>
                    <td><p>Lopez Molina</p></td>
                    <td><p>dani3lp</p></td>
                    <td><p>danlop2004@gmail.com</p></td>
                    <td><p>07778267-2</p></td>
                    <td><p>7621-3245</p></td>
                    <td><p class="status-inactive">Active</p></td>
                    <td>
                      <div class="actions">
                        <button class="edit" onclick="btnedit()">
                          <i class="bx bxs-edit"></i>
                        </button>
                        <button class="delete" onclick="btndelete()">
                          <i class="bx bxs-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td><p>Roberto Carlos</p></td>
                    <td><p>Morán Gómez</p></td>
                    <td><p>gomez41</p></td>
                    <td><p>robermoran52@gmail.com</p></td>
                    <td><p>83677278-1</p></td>
                    <td><p>6182-9866</p></td>
                    <td><p class="status-active">Active</p></td>
                    <td>
                      <div class="actions">
                        <button class="edit" onclick="btnedit()">
                          <i class="bx bxs-edit"></i>
                        </button>
                        <button class="delete" onclick="btndelete()">
                          <i class="bx bxs-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </main>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="../../controller/admin/account.js"></script>
  </body>
</html>
