<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../resources/css/admin/menu.css" />
    <link rel="stylesheet" href="../../resources/css/admin/user.css" />
    <link rel="icon" href="../../resources/imagenes/Icon.jpeg" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../../resources/css/boxicons.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuarios</title>
  </head>
  <body>
    <div class="allinfo">
      <aside></aside>
      <div class="container">
        <main class="datausers">
          <section>
            <div class="topmain">
              <div class="texttop">
                <p>USERS</p>
              </div>
              <div class="buttonstop">
                <button>Export <i class="bx bx-export"></i></button>
                <button>Print <i class="bx bxs-printer"></i></button>
                <button id="red">
                  <i class="bx bxs-plus-circle"></i> New user
                </button>
              </div>
            </div>
            <div class="searchsection">
              <div class="search">
                <i class="bx bx-search"></i>
                <input type="text" placeholder="Search anything..." />
                <i class="bx bx-slider"></i>
              </div>
              <div class="buttonsearch">
                <input type="date" class="btnfilter" />
                <div class="dropdown btnfilter">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bx bxs-purchase-tag"></i>
                    Status
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown btnfilter">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bx bx-current-location"></i>
                    Address
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown btnfilter">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bx bxs-bookmark"></i>
                    Save filters
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </div>
                <div class="dropdown btnfilter">
                  <button
                    class="btn dropdown-toggle"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    <i class="bx bx-slider rotate"></i>
                    More
                  </button>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li>
                      <a class="dropdown-item" href="#">Another action</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="filtertable">
              <button class="active">All users <span>11</span></button>
              <button>Admin users <span>03</span></button>
            </div>
            <div class="datatable">
              <div class="infodatatable">
                <p>Showing 21-30 of 88 results</p>
              </div>
              <div class="numbersdata">
                <nav aria-label="Page navigation example">
                  <ul class="pagination">
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                      </a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                      </a>
                    </li>
                  </ul>
                </nav>
              </div>
              <div class="itemstable">
                <p>Items per page <span>10</span></p>
              </div>
            </div>
            <div class="sectiontable">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col"><input type="checkbox" /></th>
                    <th scope="col">ID No.</th>
                    <th scope="col">Name</th>
                    <th scope="col">User</th>
                    <th scope="col">Password</th>
                    <th scope="col">Status</th>
                    <th scope="col">User type</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td><p>1</p></td>
                    <td><p>Anderson A.</p></td>
                    <td><p>anderson</p></td>
                    <td><p>32dhf2bnd7908sa8</p></td>
                    <td><p class="status">Active</p></td>
                    <td><p class="user_type">Admin</p></td>
                    <td>
                      <div class="actions">
                        <button class="edit" onclick="btnedit()">
                          <i class="bx bxs-edit"></i>
                        </button>
                        <button class="delete" onclick="btndelete()">
                          <i class="bx bxs-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td><p>2</p></td>
                    <td><p>Roberto M.</p></td>
                    <td><p>Rober</p></td>
                    <td><p>32dhff3nd7908sa8</p></td>
                    <td><p class="status">Active</p></td>
                    <td><p class="user_type">Admin</p></td>
                    <td>
                      <div class="actions">
                        <button class="edit" onclick="btnedit()">
                          <i class="bx bxs-edit"></i>
                        </button>
                        <button class="delete" onclick="btndelete()">
                          <i class="bx bxs-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row"><input type="checkbox" /></th>
                    <td><p>3</p></td>
                    <td><p>Daniel Lopez</p></td>
                    <td><p>Dani3l_l</p></td>
                    <td><p>323cf2bnd7908sa8</p></td>
                    <td><p class="status">Active</p></td>
                    <td><p class="user_type">Root</p></td>
                    <td>
                      <div class="actions">
                        <button class="edit" onclick="btnedit()">
                          <i class="bx bxs-edit"></i>
                        </button>
                        <button class="delete" onclick="btndelete()">
                          <i class="bx bxs-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </section>
        </main>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    <script src="../../controller/Admin/account.js"></script>
  </body>
</html>
