<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../../resources/css/admin/user.css" />
    <link rel="icon" href="../../resources/imagenes/Icon.jpeg" />
    <link rel="stylesheet" href="../../resources/css/boxicons.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Usuarios</title>
  </head>
  <body>
    <div class="container">
      <aside>
        <div class="navbar">
          <nav>
            <div class="topnav">
              <div class="img">
                <img src="../../resources/imagenes/LogoLogin.png" alt="" />
              </div>
              <div class="btn">
                <button onclick=""><i class="bx bx-chevron-right"></i></button>
              </div>
              <div class="btnback">
                <button onclick=""><i class="bx bx-chevron-left"></i></button>
              </div>
            </div>
            <div class="sidebar">
              <div class="middlenav">
                <a href="admin.html" class="inactive"
                  ><i class="bx bxs-grid-alt"></i
                ></a>
                <a href="" class="active"><i class="bx bxs-user-circle"></i></a>
                <a href="" class="inactive"><i class="bx bxs-group"></i></a>
                <a href="" class="inactive"><i class="bx bxs-user-pin"></i></a>
                <a href="" class="inactive"><i class="bx bxs-cart-alt"></i></a>
                <a href="" class="inactive"
                  ><i class="bx bx-spreadsheet"></i
                ></a>
                <a href="" class="inactive"><i class="bx bxs-box"></i></a>
                <a href="" class="inactive"
                  ><i class="bx bxs-category-alt"></i
                ></a>
                <a href="" class="inactive"><i class="bx bxs-car"></i></a>
                <a href="" class="inactive"
                  ><i class="bx bxs-car-garage"></i
                ></a>
              </div>
              <div class="logout">
                <a href="" class="logout"> <i class="bx bxs-log-out"></i></a>
              </div>
            </div>
          </nav>
        </div>
      </aside>
      <main class="datausers">
        <section class="datauser">
          <div class="topmain">
            <div class="texttop">
              <p>USERS</p>
            </div>
            <div class="buttonstop">
              <button>Export <i class='bx bx-export'></i></button>
              <button>Print <i class='bx bxs-printer' ></i></button>
              <button class="red"><i class='bx bxs-plus-circle'></i> New user</button>
            </div>
          </div>
        </section>
      </main>
    </div>
    <script src="../../controller/account.js"></script>
  </body>
</html>
