<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<!-- Nav CSS file - CSS -->
    <link rel="stylesheet" href="../../resources/css/public/cart.css">
    <link rel="stylesheet" href="../../resources/css/public/menu.css">
    <link rel="shortcut icon" href="../../resources/images/logos/logo_login.png">
    <title>Cart</title>
</head>

<body>
    <header>
    </header>

    <main>
        <!--Main container-->
        <div class="container">
            <!--Top info (title and line)-->
            <div class="top">
                <h2 class="page_title">
                    Order Details
                </h2>
                <div class="line"></div>
            </div>
            <!--All products info container-->
            <div class="data_container">
                <div class="products_container">
                    <div class="titles_container">
                        <div class="items">
                            <h2>Items</h2>
                        </div>
                        <div class="Q_P">
                            <h2>Quantity</h2>
                            <h2>Price</h2>
                        </div>
                    </div>
                    <div class="order_details">
                        <div class="product">
                            <div class="product_img">
                                <img class="imagen" src="../../resources/images/public/lambo_ejem.svg">
                            </div>
                            <div class="product_desc">
                                <h2>Lamborghini L. Brake</h2>
                                <span>Lamborghini Aventador left brake model <br> 2023, color red</span>
                            </div>
                            <div class="counter">
                                <h2> - 1 +</h2>
                            </div>
                            <div class="price">
                                <h2>$250</h2>
                            </div>
                        </div>
                        <div class="total">
                            <div class="titles">
                                <h3>Unit price:</h3>
                                <h3>Recurring:</h3>
                                <h3>Total:</h3>
                            </div>
                            <div class="prices">
                                <h3>$250</h3>
                                <h3>$200</h3>
                                <h3>$450</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Delivery details card-->
                <div class="card_info_container">
                    <div class="card_title">
                        <h1>Payment Info</h1>
                    </div>
                    <div class="card_paymethods">
                        <h4>Payment methods</h4>
                    </div>
                    <div class="radiobuttonC">
                        <div class="radiobutton">
                            <input type="radio"> <span>Credit Card</span>
                            <input type="radio"> <span>Paypal</span>
                        </div>
                    </div>
                    <div class="name">
                        <h4>Name on Card:</h4>
                        <h5>Daniel Eli Lopez Molina</h5>
                    </div>
                    <div class="card_number">
                        <h4>Card Number:</h4>
                        <h5>.... .... ....</h5>
                    </div>
                    <div class="card_year">
                        <div class="datechoose">
                            <h4>Expiration Date:</h4>
                            <input class="calendar" type="date">
                        </div>
                        <div class="cvv">
                            <h4>cvv:</h4>
                            <h3>004</h3>
                        </div>
                    </div>
                    <div class="billing">
                        <h4>Billing Address:</h4>
                        <input type="text">
                    </div>
                    <div class="green_rbt">
                        <div class="radiobtn_green">
                            <input type="radio"> <span>Accept terms and conditions</span>
                        </div>
                    </div>
                    <button class="confirm">Confirm Order</button>
                </div>
            </div>
        </div>
    </main>

    <footer>
    </footer>
        <script src="../../resources/js/menu_public.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>