<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../resources/css/public/home.css">
    <link rel="stylesheet" href="../../resources/css/public/cart.css">
    <link rel="stylesheet" href="../../resources/css/public/home.css">
    <link rel="shortcut icon" href="../../resources/images/LogoLogin.png" type="image/x-icon">
    <title>Cart</title>
</head>

<body>
    <header>
        <!--Menu-->
        <!--Navbar-->
        <nav class="navbar fixed-top navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img class="logo-navbar" src="../../resources/images/logosvg.svg">
                </a>
                <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="products.html">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="about_us.html">Abouts Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="contact_us.html">Contact Us</a>
                        </li>
                    </ul>
                    <a type="button" class="btn-login btn btn-light btn-xs" href="login.html">
                        LOGIN <img class="img-btn-login" src="../../resources/images/loginicono.svg" alt="loginimg">
                    </a>
                </div>
            </div>
        </nav>
    </header>

    <main>
        <!--Main container-->
        <div class="container">
            <!--Top info (title and line)-->
            <div class="top">
                <h2 class="page_title">
                    Order Details
                </h2>
                <div class="line"></div>
            </div>
            <!--All products info container-->
            <div class="data_container">
                <div class="products_container">
                    <div class="titles_container">
                        <div class="items">
                            <h2>Items</h2>
                        </div>
                        <div class="Q_P">
                            <h2>Quantity</h2>
                            <h2>Price</h2>
                        </div>
                    </div>
                    <div class="order_details">
                        <div class="product">
                            <div class="product_img">
                                <img class="imagen" src="../../resources/images/lambo_ejem.svg">
                            </div>
                            <div class="product_desc">
                                <h2>Lamborghini L. Brake</h2>
                                <span>Lamborghini Aventador left brake model <br> 2023, color red</span>
                            </div>
                            <div class="counter">
                                <h2> - 1 +</h2>
                            </div>
                            <div class="price">
                                <h2>$250</h2>
                            </div>
                        </div>
                        <div class="total">
                            <div class="titles">
                                <h3>Unit price:</h3>
                                <h3>Recurring:</h3>
                                <h3>Total:</h3>
                            </div>
                            <div class="prices">
                                <h3>$250</h3>
                                <h3>$200</h3>
                                <h3>$450</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Delivery details card-->
                <div class="card_info_container">
                    <div class="card_title">
                        <h1>Payment Info</h1>
                    </div>
                    <div class="card_paymethods">
                        <h4>Payment methods</h4>
                    </div>
                    <div class="radiobuttonC">
                        <div class="radiobutton">
                            <input type="radio"> <span>Credit Card</span>
                            <input type="radio"> <span>Paypal</span>
                        </div>
                    </div>
                    <div class="name">
                        <h4>Name on Card:</h4>
                        <h5>Daniel Eli Lopez Molina</h5>
                    </div>
                    <div class="card_number">
                        <h4>Card Number:</h4>
                        <h5>.... .... ....</h5>
                    </div>
                    <div class="card_year">
                        <div class="datechoose">
                            <h4>Expiration Date:</h4>
                            <input class="calendar" type="date">
                        </div>
                        <div class="cvv">
                            <h4>cvv:</h4>
                            <h3>004</h3>
                        </div>
                    </div>
                    <div class="billing">
                        <h4>Billing Address:</h4>
                        <input type="text">
                    </div>
                    <div class="green_rbt">
                        <div class="radiobtn_green">
                            <input type="radio"> <span>Accept terms and conditions</span>
                        </div>
                    </div>
                    <button class="confirm">Confirm Order</button>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <!-- Bootstrap container -->
        <div class="container">
            <!-- Footer -->
            <div class="row">
                <!-- Social media links -->
                <div class="social-footer col-lg-3 col-sm-6">
                    <a href="https://www.facebook.com/">
                        <img src="../../resources/images/facebook_logo.svg" alt="facebook"> @Autorect_SV
                    </a>
                    <a href="https://twitter.com/">
                        <img src="../../resources/images/twitter_logo.svg" alt="twitter"> @Autorect_SV
                    </a>
                    <a href="https://www.instagram.com/">
                        <img src="../../resources/images/instagram_logo.svg" alt="instagram"> @Autorect_SV
                    </a>
                </div>
                <!-- Logo Autorect -->
                <div class="logo-footer col-lg-6 col-sm-6">
                    <img src="../../resources/images/logosvg.svg" alt="logo_footer">
                </div>
                <!-- Information links -->
                <div class="information-footer col-lg-3 col-sm-12">
                    <a data-bs-toggle="modal" data-bs-target="#ModalTerms">
                        Terms & Conditions
                    </a>
                    <a data-bs-toggle="modal" data-bs-target="#ModalSupport">
                        Support
                    </a>
                    <a data-bs-toggle="modal" data-bs-target="#ModalBuy">
                        How to buy
                    </a>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
    <script src="../../resources/js/public.js"></script>
</body>

</html>