<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Configuration</title>
    <link rel="stylesheet" href="../../resources/css/public/configuration.css">
    <link rel="stylesheet" href="../../resources/css/boxicons.min.css">
    <link rel="stylesheet" href="../../resources/css/public/home.css">
    <link rel="stylesheet" href="../../resources/css/public/footer.css">
    <link rel="shortcut icon" href="../../resources/images/logos/logo_login.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <!--main container-->
    <main>
        <!--aside-->
        <aside>
            <!--user information and actions buttons-->
            <div class="offcanvas-body">
                <div class="user-info">
                    <img src="../../resources/images/perfil.svg" alt="Kendrick Kumar">
                    <h3>Kendrick Kumar</h3>
                    <h4>Client</h4>
                </div>
                <div class="options-container">
                    <button><i class='bx bx-menu'></i>User information</button>
                    <button><i class='bx bxs-cart'></i>Product History</button>
                    <button><i class='bx bxs-cog'></i>Configuration</button>
                </div>
            </div>
        </aside>
        <section>
            <!--another section with user data-->
            <div class="top-titles">
                <h2>System</h2>
                <h4>General configuration</h4>
            </div>
            <div class="buttons">
                <button class="status">
                    <div class="dot"></div>
                    <span>Active</span>
                </button>
                <button class="btn-refresh"><i class='bx bx-refresh'></i></button>
                <button class="btn-edit"><i class='bx bxs-edit-alt'></i></button>
                <button class="btn-delete"><i class='bx bxs-trash'></i></button>
            </div>
            <!--container with user data-->
            <div class="container">
                <ul class="list-group">
                    <li class="list-group-item">
                        <h1>Language</h1>
                        <div class="option-lang">
                            <button class="esp">
                                <img src="../../resources/images/spain.svg" alt="">
                                <h4>Español - ES</h4>
                            </button>
                            <button class="ing">
                                <img src="../../resources/images/usa.svg" alt="">
                                <h4>Ingles - ING</h4>
                            </button>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h1>Themes</h1>
                        <div class="option-theme">
                            <button>
                                <img src="../../resources/images/dark_theme.svg" alt="">
                                <h4>Dark - Theme</h4>
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </main>
    <footer>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="../../resources/js/public.js"></script>
    <script src="../../resources/js/footer_public.js"></script>
</body>

</html>