<!doctype html>
<html lang="en">

<head>
    <!--Meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap - CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Nav CSS file - CSS -->
    <link rel="stylesheet" href="../../resources/css/public/menu.css">
    <!-- CSS file - CSS -->
    <link rel="stylesheet" href="../../resources/css/public/contact_us.css">
    <!-- Footer CSS file - CSS -->
    <link rel="stylesheet" href="../../resources/css/public/footer.css">
    <!-- Page icon -->
    <link rel="icon" href="../../resources/images/logos/logo_login.png" type="image/png">
    <!-- Page title -->
    <title>Autorect - Contact Us</title>
</head>

<body>
    <!-- Navbar with JS -->
    <header></header>
    <!-- Main -->
    <main>
        <!-- Bootstrap container -->
        <div class="main-cont container">
            <div class="row">
                <div class="col-12">
                    <!-- Title -->
                    <h1 class="title text-center">
                        CONTACT US
                    </h1>
                </div>
            </div>
            <div class="row">
                <!-- Form -->
                <div class="cont-form col-lg-6 col-sm-12">
                    <h4 class="text-white text-left"> Send us a message </h4>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Your name" aria-label="Your name"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Email address" aria-label="Email"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Phone number" aria-label="Phone number"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Company" aria-label="Company"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group">
                        <textarea class="message-form form-control" placeholder="Your message goes here"
                            aria-label="With textarea"></textarea>
                    </div>
                    <button class="btn-submit btn btn-primary text-right">
                        <img src="../../resources/images/public/submit_icon.svg" alt="submit" class="img-submit">
                    </button>
                </div>
                <!-- Map -->
                <div class="map-col col-lg-6 col-sm-12">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d992123.8235143081!2d-89.49069877792698!3d13.749679772552192!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f6327a659640657%3A0x6f9a16eb98854832!2sEl%20Salvador!5e0!3m2!1ses-419!2ssv!4v1677024513054!5m2!1ses-419!2ssv"
                        allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
        </div>
    </main>
    <!-- Footer with JS -->
    <footer></footer>
    <!-- Footer script -->
    <script src="../../resources/js/footer_public.js"></script>
    <!-- Nav script -->
    <script src="../../resources/js/menu_public.js"></script>
    <!-- Bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>