<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="../../resources/css/public/login.css">
    <link rel="icon" href="../../resources/images/Icon.jpeg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Page icon -->
    <link rel="icon" href="../../resources/images/logos/logo_login.png" type="image/png">
    <!-- Page Title -->
    <title>Autorect | Login</title>
</head>

<body>
    <!-- Container -->
    <main class="contenedor">
        <!-- Login form -->
        <div class="formulario">
            <div class="logo">
                <img src="../../resources/images/logo_login.png" alt="logo">
            </div>
            <div class="text">
                <h5>WELCOME TO <span>AUTORECT</span></h5>
                <p>Let's login to your account <span>.</span></p>
            </div>
            <div class="textlogin">
                <form action="" class="formlogin" id="formlogin">
                    <div class="input-data ">
                        <input type="text" id="username" name="username" required>
                        <div class="underline"></div>
                        <label>Username</label>
                    </div>
                    <div class="input-data" id="pass">
                        <input type="password" id="password" name="password" required>
                        <div class="underline"></div>
                        <label>Password</label>
                    </div>
                    <div class="buttons">
                        <button type="submit" id="btnlogin">Login</button>
                        <button id="btnregistrer" onclick="changepanelRegistrer()">Registrer</button>
                    </div>
                </form>
            </div>
            <div class="endlogin">
                <div class="remember">
                    <input type="checkbox">
                    <label for="">Remember me</label>
                </div>
                <div class="forget">
                    <a href="">Forgot password?</a>
                </div>
            </div>
        </div>
        <!-- Register form -->
        <div class="formRegistrer">
            <div class="logoRegistrer">
                <img src="../../resources/images/logo_login.png" alt="logo">
            </div>
            <div class="textRegistrer">
                <h4>SIGN IN FOR ME</h4>
                <p id="second">Create new account<span>.</span></p>
                <p id="final">Already a member? <span><a href="">Log in</a></span></p>
            </div>
            <div class="infoRegistrer">
                <form action="" class="data-registrer" id="data-registrer">
                    <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response">
                    <div class="nameRegistrer">
                        <div class="input-data">
                            <input type="text" required>
                            <div class="underline"></div>
                            <label>First name</label>
                        </div>
                        <div class="input-data" id="textbox">
                            <input type="text" required>
                            <div class="underline"></div>
                            <label>Last name</label>
                        </div>
                    </div>
                    <div class="allinfo">
                        <div class="input-data">
                            <input type="email" required>
                            <div class="underline"></div>
                            <label>Email</label>
                        </div>
                        <div class="input-data">
                            <input type="password" required>
                            <div class="underline"></div>
                            <label>Password</label>
                        </div>
                    </div>
                </form>
            </div>
            <!-- Create account button -->
            <div class="buttonsRegistrer">
                <button id="createCount" onclick="changepanelLogin()">Create account</button>
            </div>
        </div>
    </main>

    <!-- JS -->
    <script src="../../resources/js/login.js"></script>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/public/account.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/public/login.js"></script>
    <script src="../../controllers/public/singup.js"></script>
</body>

</html>