<!doctype html>
<html lang="en">

<head>
    <!--Meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap - CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- Nav CSS file - CSS -->
    <link rel="stylesheet" href="../../resources/css/public/menu.css">
    <!-- CSS file - CSS -->
    <link rel="stylesheet" href="../../resources/css/public/membership.css">
    <!-- Footer CSS file - CSS -->
    <link rel="stylesheet" href="../../resources/css/public/footer.css">
    <!-- Page icon -->
    <link rel="shortcut icon" href="../../resources/images/logo_login.png">
    <link rel="stylesheet" href="../../resources/css/boxicons.min.css" />
    <!-- Page title -->
    <title>Autorect - Memberships</title>
</head>

<body>
    <!-- Navbar with JS -->
    <header></header>

    <main>
        <div class="main-cont container">
            <div class="title-row row">
                <!-- Title -->
                <h2 class="title text-left">
                    Memberships Plans
                </h2>
                <hr>
            </div>
            <div class="row" id="memb-row">

            </div>
            <div id="modals">
                
            </div>
        </div>
    </main>

    <footer></footer>
    <!-- Footer script -->
    <script src="../../resources/js/footer_public.js"></script>
    <!-- Nav script -->
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/public/account.js"></script>
    <script src="../../controllers/public/memberships.js"></script>
    <!-- Bootstrap script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
</body>

</html>