<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="../../resources/css/public/menu.css">
    <link rel="stylesheet" href="../../resources/css/boxicons.min.css">
    <link rel="stylesheet" href="../../resources/css/public/footer.css">
    <link rel="stylesheet" href="../../resources/css/public/products.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header></header>
    <main>
        <div class="top_products">
            <h4>Products</h4>
            <div class="search">
                <form method="post" id="search-product">
                    <button type="submit" class="button-search"><i class="bx bx-search"></i></button>
                    <input type="text" name="search" onkeyup="searchProduct()"/>
                </form>
            </div>
        </div>
        <section>
            <aside>
                <form id="filters" method="post">
                    <h5 class="offcanvas-title" id="offcanvasLabel">Categories</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvasDark"
                        aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="list-categories list-group" id="list-categories">
                        </ul>
                        <br>
                        <h5 class="offcanvas-title" id="offcanvasLabel">Price</h5>
                        <br>
                        <div class="price-section" id="price-section">
                        </div>
                        <br>
                        <br>
                        <h5 class="offcanvas-title" id="offcanvasLabel">Year</h5>
                        <br>
                        <ul class="years-list list-group" id="years-list">
                        </ul>
                        <div class="aside-buttons">
                            <button type="submit">Filter</button>
                            <button onclick="cleanForm()">Clean</button>
                        </div>
                    </div>
                </form>
            </aside>
            <div class="products-content">
                <div class="row row-cols-4 row-cols-md-4 g-4 s-1" id="cards_container"></div>
            </div>
        </section>
    </main>
    <footer></footer>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="../../controllers/public/account.js"></script>
    <script src="../../resources/js/footer_public.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="../../controllers/public/products.js"></script>
</body>

</html>