<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Profile</title>
    <link rel="shortcut icon" href="../../resources/images/logo_login.png">
    <link rel="stylesheet" href="../../resources/css/boxicons.min.css">
    <link rel="stylesheet" href="../../resources/css/public/footer.css">
    <link rel="stylesheet" href="../../resources/css/public/menu_profile.css">
    <link rel="stylesheet" href="../../resources/css/public/profile.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
    <main>
        <aside></aside>
        <section>
            <div class="top-titles">
                <h2>General</h2>
                <h4>Profile information</h4>
            </div>
            <div class="buttons">
                <button class="status">
                    <div class="dot"></div>
                    <span>Active</span>
                </button>
                <button class="btn-edit"><i class='bx bxs-edit-alt'></i></button>
            </div>
            <!--Data container-->
            <div id="contained" class="contained"></div>
        </section>
    </main>
    <footer></footer>
    <script src="../../resources/js/sweetalert.min.js"></script>
    <script src="../../controllers/components.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <script src="../../resources/js/footer_public.js"></script>
    <script src="../../resources/js/profile_sidebar.js"></script>
    <script src="../../controllers/public/clients.js"></script>
</body>

</html>