*{
    padding: 0;
    margin: 0;
}
body{
 max-width: 100%;
 max-height: 100%;   
}
.container{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 98%;
}
nav .img img{
    height: 38px;
    width: 40px;
    margin-top: 1rem;
    margin-left: 0.8rem;
} 
body aside .navbar{
    background-color: #1f1f1f;
    position: sticky;
    height: 100vh;
    width: 85%;      
}
nav .topnav{
    display: flex;
    flex-direction: row;

}
.topnav .btnback{
    display: none;
    align-items: flex-end;
    margin-left: 9.2rem;
    margin-top: 1.2rem;
}
nav .topnav .btn{
    display: block;
    margin-left: 0.8rem;
    margin-top: 1.2rem;
}
aside nav .topnav button{
    height: 40px;
    width: 40px;  
    color: #FFF;
    border: none;
    font-weight: 500;
    border-radius: 30px;
    font-size: 1.6rem;
    background-color: #822727;
}
nav .sidebar{
    margin-top: 1rem;
    display: flex;
    font-size: 12pt;
    flex-direction: column;
    position: relative;
}
nav .sidebar .middlenav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
aside .sidebar .middlenav a{
    margin-top: 1rem;
    padding: 4px 0;
    display: flex;
    font-size: 1.7rem;
    color: #FFF;
    font-weight: 300;
    text-decoration: none;
    align-items: center; 
    justify-content: center;
}
nav .sidebar .logout{
    margin-top: 1.3rem;
}
nav .sidebar .logout a{
    display: flex;
    color: #fff;
    border-radius: 3px;
    text-decoration: none;
    font-size: 1.7rem;
    height: 60px;
    align-items: flex-end;
    justify-content: center;
    /*gap: 0.5rem;*/
}
nav .sidebar .logout a:hover{
    background-color: #822727;
}
nav .sidebar .middlenav a:hover{
    background-color: #FFF;
    width: 50%;
    height: 30px;
    border-radius: 10px;
    color: #1f1f1f;
}
.icono{
    background-color: #FFF;
}
.datasection{
    width: 100%;
    height: 100%;
}
.topmain{
    display: flex;
    margin-left: 4rem;
    margin-top: 1.5rem;
    flex-direction: row;
}
.topmain .text{
    color: #822727;
    font-size: 22pt;
    width: 35%;
    font-weight: 800;
}
.topmain .btnmain{
    display: flex;
    padding: 0 4rem;
    width: 65%;
    flex-direction: row;
    justify-content: flex-end;
}
.topmain .btnmain button{
    background-color: transparent;
    font-size: 10pt;
    color: #1f1f1f;
    border: none;
    height: 30px;
    width: 100px;
    font-weight: 500;
    margin: 0 1rem;
}
.topmain .btnmain .btndashboard:hover{
    background-color: #822727;
    color: #FFF;
    font-weight: 600;
}
.topmain .btnmain .btndashboard:focus{
    background-color: #822727;
    font-weight: 600;
    color: #FFF;
}
.topmain .btnmain .user{
    font-size: 1.5rem;
    color: #822727;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding-left: 8px;
    border: 3px solid #822727;
}