@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@100;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto',sans-serif;
}
body{
 max-width: 100%;
 overflow: hidden;
 max-height: 100%;   
}
.allinfo{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 98%;
}

#dashboard{
    background-color: #fff;
    border-radius: 10px;
    color: #000;
}
.datasection{
    width: 100%;
    height: 100%;
    margin-left: 2rem;
}
.topmain{
    display: flex;
    margin-top: 1.5rem;
    flex-direction: row;
}
.topmain .text{
    color: #822727;
    font-size: 22pt;
    width: 35%;
    font-weight: 800;
}
.topmain .btnmain{
    display: flex;
    padding: 0 4rem;
    width: 65%;
    flex-direction: row;
    justify-content: flex-end;
}
.topmain .btnmain button{
    background-color: transparent;
    font-size: 10pt;
    color: #1f1f1f;
    border: none;
    height: 30px;
    width: 100px;
    font-weight: 500;
    margin: 0 1rem;
}
.topmain .btnmain .btndashboard:hover{
    background-color: #822727;
    color: #FFF;
    font-weight: 600;
}
.topmain .btnmain .btndashboard:focus{
    background-color: #822727;
    font-weight: 600;
    color: #FFF;
}
.topmain .btnmain .user{
    font-size: 1.5rem;
    color: #822727;
    width: 80px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-radius: 8px;
    padding-left: 8px;
    border: 3px solid #822727;
}
.datasection .datainfo{
    display: flex;
    height: 150px;
    flex-direction: row;
}
.datainfo .row{
    width: 100%;
}
.datainfo .col{
    background-color: #1f1f1f;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
}
.datainfo .col p{
    margin-top: 20px;
    color: #B1B1B1;
    font-size: 12pt;
    font-weight: 700;
    margin-bottom: 0;
}
.datainfo .col .green{
    margin-top: 0;
    color: #1F832E;
}
.datainfo .col .red{
    margin-top: 0;
    color: #822727;
}
.datainfo .col .number{
    color: #FFF;
    font-size: 24pt;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0;
}
.datainfo .col .stars{
    margin-top: 0;
    color: #FFF;
}
.datainfo .col .number span{
    color: #B1B1B1;
    font-size: 10pt;
}
.datasection .bottommain{
    display: flex;
    flex-direction: row;
}
.datasection .bottommain .grafics{
    width: 80%;
}
.datasection .bottommain .topbrands{
    border: 2px solid #1f1f1f;
    margin-top: 1rem;
    border-radius: 10px;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 490px;
}
.datasection .bottommain .topbrands p{
    font-size: 14pt;
    font-weight: 600;
    padding-right: 8rem;
    padding-top: 10px;
}
.datasection .bottommain .marca{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #822727;
    height: 130px;
    width: 220px;
    margin: 10px 30px;
}
.datasection .bottommain .marca img{
    height: 175px;
    width: 175px;
}
.datasection .bottommain .grafics{
    margin-top: 1rem;
    height: 415px;
    margin-right: 10px;
}
.datasection .bottommain .grafics .salesreport{
    height: 50%;
    border-radius: 10px;
    border: 2px solid #1f1f1f;
    padding: 1rem;
    margin-bottom: 10px;
}
.datasection .bottommain .grafics .recentorder{
    height: 50%;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid #1f1f1f;
}