@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@100;400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
body {
  max-height: 100%;
  max-width: 98%;
}
.allinfo {
  display: flex;
  flex-direction: row;
  width: 98%;
  height: 100%;
}
aside {
  background-color: #1f1f1f;
  width: 6.5%;
  height: 100vh;
}
#product {
  background-color: #fff;
  color: #000;
  border-radius: 10px;
}
.dataproduct {
  width: 100%;
  margin-top: 1rem;
  height: 100%;
  margin-left: 2rem;
}
.dataproduct .topproduct {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.dataproduct .topproduct .text {
  color: #000;
  display: flex;
  justify-content: flex-start;
  font-size: 22pt;
  font-weight: 600;
  width: 50%;
}
.dataproduct .topproduct .btntop {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.dataproduct .topproduct .btntop button {
  background-color: transparent;
  margin-left: 10px;
  border: 3px solid #d2d2d2;
  color: #636363;
  width: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 10pt;
  height: 35px;
  font-weight: 500;
  border-radius: 20px;
}
.dataproduct .topproduct .btntop button i {
  font-size: 16pt;
}
.topproduct .btntop #red {
  background-color: #822727;
  border: none;
  color: #fff;
  width: 130px;
  padding-right: 10px;
}
.searchsection {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  height: 65px;
  background-color: #f2f2f2;
}
.search {
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;
}
.search input {
  border-radius: 10px;
  border: none;
  position: relative;
  width: 400px;
  padding-left: 30px;
  z-index: 1;
}
.search .bx-search {
  position: absolute;
  z-index: 10;
  font-size: 16pt;
  margin-top: 12px;
  margin-left: 5px;
}
.search .bx-slider {
  position: absolute;
  z-index: 10;
  font-size: 16pt;
  margin-top: 12px;
  margin-left: 22.5rem;
}
.buttonsearch {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: flex-end;
}
.buttonsearch input {
  padding: 0 10px;
}
.btnfilter {
  margin-left: 1rem;
  border: 3px solid #d2d2d2;
  border-radius: 30px;
}
.btnfilter button {
  color: #636363;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown .rotate {
  transform: rotate(90deg);
}
.filtertable {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 2.5rem;
  border-bottom: 3px solid #636363;
}
.filtertable button {
  border: none;
  margin-right: 2rem;
  width: 135px;
  background-color: transparent;
}
.filtertable .active {
  border-bottom: 5px solid #822727;
  padding-bottom: 7px;
}
.filtertable span {
  border-radius: 100px;
  background-color: #1f1f1f;
  color: #fff;
  font-size: 8pt;
  font-weight: 500;
  padding: 5px;
}
.datatable {
  display: flex;
  width: 100%;
  font-size: 10pt;
  margin-top: 1rem;
  flex-direction: row;
}
.datatable .infodatatable {
  width: 25%;
  display: flex;
  color: #636363;
  justify-content: flex-start;
}
.datatable .numbersdata {
  width: 50%;
  display: flex;
  justify-content: center;
}
.datatable .itemstable {
  width: 25%;
  color: #636363;
  display: flex;
  justify-content: flex-end;
}
.datatable .itemstable span {
  margin: 20px;
  border: 3px solid #636363;
  padding: 5px 30px;
  border-radius: 5px;
}
.numbersdata .Page {
  border: none;
}
.datatable .numbersdata .page-link {
  color: #1f1f1f;
  border: none;
}
.datatable .numbersdata .page-link:focus {
  color: #822727;
  border: transparent !important;
}
.sectiontable .table {
  margin-top: 1rem;
  color: #636363;
}
.sectiontable .table thead {
  background-color: #f2f2f2;
  color: #636363;
}
.sectiontable .table td .edit {
  background-color: transparent;
  color: #ffca2c;
  border-radius: 5px;
  font-size: 16pt;
  height: 30px;
  width: 45px;
  border: 2px solid #ffca2c;
}
.sectiontable .table td .delete {
  background-color: transparent;
  color: #822727;
  border: 2px solid #822727;
  border-radius: 5px;
  margin-left: 20px;
  font-size: 16pt;
  height: 30px;
  width: 45px;
}
.actions {
  display: flex;
  flex-direction: row;
}
.sectiontable .table .status-active {
  background-color: #d0fbee;
  border-radius: 5px;
  padding: 5px 0;
  margin-right: 10px;
  width: 120px;
  text-align: center;
}
.sectiontable .table .status-inactive {
  background-color: #56555d;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  width: 120px;
}
.sectiontable .table .Category-brakes {
  background-color: #3e65df;
  width: 120px;
  padding: 5px 0;
  text-align: center;
  color: #fff;
  border-radius: 5px;
}
.sectiontable .table .category-doors {
  background-color: #e9904e;
  width: 120px;
  text-align: center;
  padding: 5px 0;
  color: #fff;
  border-radius: 5px;
}
